hui

<main>
    {{#with program}}
    {{#with excursion}}
    <h1>{{name}}</h1>
    {{!-- {{#with location}}
    <h3>{{city}},
        {{country}}</h3>
    {{/with}} --}}


    <h3>{{location.city}},
        {{location.country}}</h3>
    <p>The tour is on: {{date}}</p>
    <hr>
    {{#each program}}
    <h3>{{name}}</h3>
    <ul>

        <li>type of tour: "{{type}}"</li>
        <li>length of tour: {{duration}} hours</li>
    </ul>
    {{#with details}}
    {{#if museum}} <h4>You will visit:
        {{museum.name}}</h4>
    {{#with museum}}
    {{#each exhibits}}
    <ul>
        <li>
            You will see: "{{name}}"
            by {{artist}}
            known as: {{description}} </li>
        <li>audio guide available: {{#if audio_guide}}Yes{{/if}}</li>
    </ul>
    {{/each}}

    <em> Address: {{location.address}},
        {{location.city}},
        {{location.country}}.</em> {{/with}}

    {{/if}}

    {{#if venue}} <h4>You will visit: {{venue.name}}</h4>
    {{#each performers}}
    <ul>
        <li>You will see: {{name}}</li>
        <li>Type: {{type}}</li>
    </ul>
    {{/each}}

    <em> Address: {{venue.location.address}},
        {{venue.location.city}},
        {{venue.location.country}}.</em>
    {{/if}}
    <hr>
    {{#with guide}}
    <em>Your guide will be: </em>{{name}},
    <em>Speaks: </em>{{language}},
    <em>Rank </em>({{rating}})
    {{/with}}
    <hr>
    {{/with}}




    {{/each}}
    {{/with}}




















    {{/with}}
</main>